.AddButton {
  float: left;
}

.AddButton * {
  border-left: 1px solid rgb(219, 219, 216);
  padding-left: 5px;
  padding-right: 5px;
}
.AddButtonStyle {
  margin-left: 10px;
  display: inline;
  padding: -10px;
}
.row2:after {
  width: 100%;
  content: "";
  display: table;
  clear: both;
}
.BackImage {
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}
.MainMenu {
  margin: 0 auto;
  display: block;
}
.MainMenuDiv {
  float: left;
}
.MainContent {
  margin: 0 auto;
  float: left;
  width: 100%;
}
.items {
  margin: 0 auto;
  width: 98%;
  background-color: white;
  /* border: 1px solid rgba(222, 222, 224, 0.973);*/
  margin-bottom: 10px;
  box-shadow: -1px -2px 5px rgb(222 222 224 / 97%);
  border-radius: 5px;
  padding: 15px;

  font-size: 14px;
  font-family: arial;
}
.items a {
  color: #3d2ddf;
  text-decoration: none;
}
.HeaderBar {
  width: 100%;
  font-size: 14px;
  font-family: arial;
}
.Question {
  float: left;
}
.Operation {
  float: right;
}
.header {
  float: left;
  margin-top: -15px;
  color: var(--color-text-primary);
}

/* Clear floats after the columns */
.row {
  margin: 0 auto;
  display: grid;
}
.ContentControl {
  width: 100%;
  background-color: rgb(252, 250, 250);
}
.ContentForm {
  margin: 0 auto;
  width: 94%;
}
@media only screen and (min-width: 300px) {
  .row {
    display: grid;
  }
}
@media only screen and (min-width: 400px) {
  .row {
    display: inline;
  }
}
@media only screen and (min-width: 600px) {
  .row {
    display: inline;
  }
}
