.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 30px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditorcontrols {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}
.superFancyBlockquote {
  color: #999;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  text-align: center;
}
.richText-textAlignment-block > div {
  display: inline;
}
.RichEditor-editor .richText-left-block div {
  text-align: left;
}
.RichEditor-editor .richText-center-block div {
  text-align: center;
}
.RichEditor-editor .richText-right-block div {
  text-align: right;
}

.RichEditor-editor .richText-justify-block div {
  text-align: justify;
}
.inserlink {
  cursor: pointer;
}
.container {
  display: "flex";
}
.formControl {
  /* margin: theme.spacing(1); */
  min-width: 120;
}

.RichEditor-ColorButton {
  cursor: pointer;
  margin-right: 7px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton .colorButton {
  color: white;
  text-decoration: underline;
  border: 2px solid black;
}

.Container {
  display: flex;
  background-color: antiquewhite;
  padding: 5px;
  margin-top: 2px;
}

.Container .uploadBtn {
  height: 20px;
  width: 10px;
  background: none;
}
.select {
  margin-right: 3px;
  border-radius: 4px;
  background-color: #ccd9f5;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  height: 23px;
}
.select * {
  cursor: pointer;
  background-color: #ccd9f5;
}

/* Pupup start */

.popup {
  position: relative;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgb(223, 26, 26);
  color: rgb(22, 13, 13);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 0px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  content: "";
  position: absolute;
  top: 40%;
  background-color: white;
  box-shadow: 0 4px 8px -2px rgb(9 30 66 / 25%), 0 0 1px rgb(9 30 66 / 31%);
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
  z-index: 1;
  /*  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;*/
}

/* Popup END */
