.MainMenu{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
  text-align: left;
}
 
.main{
    width:400px;   
 }
  .container {  
    margin-left: -22px;
    margin:0 auto;
    float: left;
    white-space: nowrap;  width: 100%; display: inline   ; 
    vertical-align: middle;
    overflow-x: auto; 
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
   
  
  .columnL {
    float: left;
    width: 5%;
    padding-top : 10px;
  }

  #leftButton{
    float: right;
  }
  .columnM {
    float: left;
    width: 90%;
    padding-top: 10px;
  }.columnR {
    float: left;
    width: 5%;
    padding-top: 10px; margin-left: -28px;
  }
  .row{
      width: 80%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
@media only screen and (min-width: 300px) {
    .main{
        width: 1000px;   
     }
  }
  @media only screen and (min-width: 400px) {
    .main{
        width: 1000px;   
     }
  }
  @media only screen and (min-width: 500px) {
    .main{
        width: 1000px;   
     }
  }
  @media only screen and (min-width: 600px) {
    .main{
        width: 1500px;   
     }
  }
  