.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
  position: relative;
  top: 60px;
  border-radius: 8px;
  padding-bottom: 10px;
}
.Tab{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
} 